extends layout

block content
    h1 Login
    form(method='POST', action='/users/login')
        #from-group
            label Username:
            input.form-control(name='username', type='text')
        #from-group
            label Password:
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='Submit', value='Submit')